DOMAIN_NAME = [your_domain_here]
WORDPRESS_CONTAINER_NAME = [wordpress_container_name]

MYSQL_NAME = [your_database_name_here]
MYSQL_USER = [your_mysql_user_here]
DB_NAME = [your_database_container_name]

WORDPRESS_TITLE = [your_wordpress_title_here]
WORDPRESS_ADMIN = [your_wordpress_admin_here]
WORDPRESS_EMAIL = [your_wordpress_email_here]

WP_USER = [your_wp_user_here]
WP_EMAIL = [your_wp_email_here]