DOMAIN_NAME = [your_domain_here]

MYSQL_ROOT_PASSWORD = [your_mysql_root_password_here]
MYSQL_NAME = [your_mysql_name_here]
MYSQL_USER = [your_mysql_user_here]
MYSQL_PASSWORD = [your_mysql_password_here]
DB_NAME = [your_db_name_here]


WORDPRESS_TITLE = [your_wordpress_title_here]
WORDPRESS_ADMIN = [your_wordpress_admin_here]
WORDPRESS_ADMIN_PASSWORD = [your_wordpress_admin_password_here]
WORDPRESS_EMAIL = [your_wordpress_email_here]

WP_USER = [your_wp_user_here]
WP_EMAIL = [your_wp_email_here]
WP_USER_PASS = [your_wp_user_pass_here]

HTTP_HOST = [your_http_host_here]
SERVER_NAME = [your_server_name_here]